<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>MENU</title>
  </head>
  <body>
    <div class="rightdiv">
      <a href="/register"><p class="right">register</p></a><br>
      <a href="/login"><p class="right">login</p></a><br>
      <a href="/logout"><p class="right">logout</p></a><br>
    </div>
    <div class="left">
      <!-- MENU -->
      <table id="menu">
        <tr>
          <th colspan="3" style="font-size:30px;">MENU</th>
        </tr>
        <tr>
          <th colspan="3">PIZZA</th>
        </tr>
        <tr>
          <th colspan="3">REGULAR / SICILIAN</th>
        </tr>
        <tr><td class="center">CHEESE</td></tr>
        <tr><td class="center">1 TOPPING</td></tr>
        <tr><td class="center">2 TOPPINGS</td></tr>
        <tr><td class="center">3 TOPPINGS</td></tr>
        <tr><td class="center">SPECIAL</td></tr>
        <tr>
          <th colspan="3">TOPPINGS</th>
        </tr>
        {% for topping in toppings %}
        <tr>
          <td class="center" colspan="3">
            {{ topping }}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="3">SUBS</th>
        </tr>
        {% for subs in Sub %}
        <tr>
          <td class="center" colspan="3">
            {{ subs }}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="3">PASTA</th>
        </tr>
        {% for pastas in Pasta %}
        <tr>
          <td class="center" colspan="3">
            {{ pastas }}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="3">SALADS</th>
        </tr>
        {% for salad in Salads %}
        <tr>
          <td class="center" colspan="3">
            {{ salad }}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="3">DINNER PLATTERS</th>
        </tr>
        {% for plate in Dinner %}
        <tr>
          <td class="center" colspan="3">
            {{ plate }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <!-- ALL SELECTIONS -->
    <div id="right2">
      <!-- PIZZA SELECT -->
      <div id="pizza">
            <h2>Pizza</h2>
            <form action="{% url 'pizza' %}" method="post">
                {% csrf_token %}
                <select class="settings" name="pkind">
                    {% for kinds in kind %}
                        <option value="{{ kinds }}">{{ kinds }}</option>
                    {% endfor %}
                </select>
                <select class="settings" name="psize">
                    {% for sizes in size %}
                        <option value="{{ sizes }}">{{ sizes }}</option>
                    {% endfor %}
                </select>
                <select class="settings" id="pizzaSelect"name="pname">
                    <option value="Cheese">Cheese</option>
                    <option value="1 topping">1 topping</option>
                    <option value="2 toppings">2 toppings</option>
                    <option value="3 toppings">3 toppings</option>
                    <option value="Special">Special</option>
                </select>
                <div id="toppingDiv" name="chosenToppings">
                    <select class="settings" name="topping1">
                        {% for top in toppings %}
                            <option value="{{ top }}">{{ top }}</option>
                        {% endfor %}
                    </select>
                    <select class="settings" name="topping2">
                        {% for top in toppings %}
                            <option value="{{ top }}">{{ top }}</option>
                        {% endfor %}
                    </select>
                    <select class="settings" name="topping3">
                        {% for top in toppings %}
                            <option value="{{ top }}">{{ top }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="settings" type="submit"/>
            </form>
      </div>
      <!-- SUB SELECT -->
      <div id="subs">
        <h2>Subs</h2>
        <form action="{% url 'subs' %}" method="post">
            {% csrf_token %}
            <select class="settings" name="subname">
                {% for subs in Sub %}
                    <option value="{{ subs }}">{{ subs }}</option>
                {% endfor %}
            </select>
            <select class="settings" name="subsize">
                {% for sizes in size %}
                    <option value="{{ sizes }}">{{ sizes }}</option>
                {% endfor %}
            </select>
            <input class="settings" type="submit"/>
        </form>
      </div>
      <!-- PASTA SELECT -->
      <div id="pasta">
        <h2>Pasta</h2>
        <form action="{% url 'pasta' %}" method="post">
            {% csrf_token %}
            <select class="settings" name="pastaname">
                {% for pastas in Pasta %}
                    <option value="{{ pastas }}">{{ pastas }}</option>
                {% endfor %}
            </select>
            <input class="settings" type="submit"/>
        </form>
      </div>
      <!-- SALAD SELECT -->
      <div id="salad">
        <h2>Salads</h2>
        <form action="{% url 'salad' %}" method="post">
            {% csrf_token %}
            <select class="settings" name="saladname">
                {% for salad in Salads %}
                    <option value="{{ salad }}">{{ salad }}</option>
                {% endfor %}
            </select>
            <input class="settings" type="submit"/>
        </form>
      </div>
      <!-- DINNER PLATTER SELECT -->
      <div id="dinner">
        <h2>Dinner platters</h2>
        <form action="{% url 'dinner' %}" method="post">
            {% csrf_token %}
            <select class="settings" name="dinnername">
                {% for dinners in Dinner %}
                    <option value="{{ dinners }}">{{ dinners }}</option>
                {% endfor %}
            </select>
            <select class="settings" name="dinnersize">
                {% for sizes in size %}
                    <option value="{{ sizes }}">{{ sizes }}</option>
                {% endfor %}
            </select>
            <input class="settings" type="submit"/>
        </form>
      </div>
    </div>
    <!-- CART -->
    <div class="orders">
      <h3>Your orders:</h3>
      <div id="orderContainer">
        {% for order in ordered %}
          <div class="order">
            {% for things in order %}
              {% if things == '0' %}
                {% else %}
                  {{ things }}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <br>
      <p>Total: {{ total.0 }}</p>
      <div id="yeet">
        <a id="order" href="{% url 'cart' %}">ORDER</a>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    // var colors = ["red", "orange", "yellow", "green", "blue", "purple"]
    // var currentColor = 0
    // var lis = document.querySelectorAll("body")
    //
    // function changeColor() {
    //   --currentColor
    //   if (currentColor < 0) currentColor = colors.length -1
    //   for (var i = 0; i < lis.length; i++) {
    //   lis[i].style.background = colors[(currentColor +i) % colors.length]
    // }}
    //
    // setInterval(changeColor, 105)


    window.addEventListener('load', checkCart)
        function checkCart() {
            var cart = "{{ ordered }}"
            if (cart.length > 2){
                document.getElementById("id").style.visibility = "visible"
            }
            else {
                document.getElementById("id").style.visibility= "hidden"
            }
        }
  </script>
</html>
