<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>MENU</title>
  </head>
  <body>
    <a href="/register"><p class="right">register</p></a><br>
    <a href="/login"><p class="right">login</p></a><br>
    <a href="/logout"><p class="right">logout</p></a><br>
    <table id="menu">
      <tr>
        <th colspan="3" style="font-size:30px;">MENU</th>
      </tr>
      <tr>
        <th colspan="3">PIZZA</th>
      </tr>
      <tr>
        <th colspan="3">REGULAR / SICILIAN</th>
      </tr>
      <tr><td class="center">CHEESE</td></tr>
      <tr><td class="center">1 TOPPING</td></tr>
      <tr><td class="center">2 TOPPINGS</td></tr>
      <tr><td class="center">3 TOPPINGS</td></tr>
      <tr><td class="center">SPECIAL</td></tr>
      <tr>
        <th colspan="3">TOPPINGS</th>
      </tr>
      {% for topping in toppings %}
      <tr>
        <td class="center" colspan="3">
          {{ topping }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="3">SUBS</th>
      </tr>
      {% for subs in Sub %}
      <tr>
        <td class="center" colspan="3">
          {{ subs }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="3">PASTA</th>
      </tr>
      {% for pastas in Pasta %}
      <tr>
        <td class="center" colspan="3">
          {{ pastas }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="3">SALADS</th>
      </tr>
      {% for salad in Salads %}
      <tr>
        <td class="center" colspan="3">
          {{ salad }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="3">DINNER PLATTERS</th>
      </tr>
      {% for plate in Dinner %}
      <tr>
        <td class="center" colspan="3">
          {{ plate }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
