<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title></title>
  </head>
  <body>
    <a href="/register"><p class="right">register</p></a><br>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
    <input class="margin" name="username" type="text" placeholder="Username" required/><br>
    <input class="margin" name="password" type="password" placeholder="Password" required/><br>
    <input class="margin" type="submit" value="Login"/>
  </form>
  </body>
</html>
