<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title></title>
  </head>
  <body>
    <div class="rightdiv">
      <a id="mom" href="/register">register</a>
    </div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input class="settings2" name="username" type="text" placeholder="Username" required/><br>
        <input class="settings2" name="password" type="password" placeholder="Password" required/><br>
        <input class="settings" type="submit" value="Login"/>
  </form>
  </body>
  <script type="text/javascript">
    var colors = ["red", "orange", "yellow", "green", "blue", "purple"]
    var currentColor = 0
    var lis = document.querySelectorAll("body")

    function changeColor() {
      --currentColor
      if (currentColor < 0) currentColor = colors.length -1
      for (var i = 0; i < lis.length; i++) {
      lis[i].style.color = colors[(currentColor +i) % colors.length]
    }}

    setInterval(changeColor, 75)
  </script>
</html>
