<!DOCTYPE html>
<html lang="eng" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sucks</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div id="parent">
      <div class="message_holder">

      </div>
      <div class="mid">
        <form action="" method="post">
          <input type="text" class="username" name="username" placeholder="username" id="userinputname" required/>
          <input type="text" name="message" class="message" placeholder="message" required/>
          <input type="submit" name="Submit" value="Submit" id="submit"/>
        </form>
      </div>
        <input type="button" name="button" id="create" value="+ Create">
      <div id="channelcreate">
        <input type="text" name="" placeholder="Channel name" id="channelname" required/>
        <input type="button" onClick="renderChannels()" name="" value="Submit" id="chancreate">
      </div>
      <div id="channelholder">

      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js" integrity="" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var socket = io();

    socket.on('connect', function() {

    var form = $('form').on('submit', function(e){
      e.preventDefault()
      let user_name = $('input.username').val();
      let user_input = $('input.message').val();
      document.getElementById('userinputname').disabled = true

      socket.emit('sendmsg',{
        user_name : user_name,
        message : user_input,
        stored_data: {
          username: user_name,
          currentChannel: currentChannel,
          channels: channelName,
          messages: msgA
        }
      })
      $('input.message').val('').focus()
    })
  })

  socket.on('my response', function(msg){
    console.warn('Msg: ', msg);
    let time = new Date().toLocaleTimeString();
    if(typeof msg.user_name !== 'undefined'){
      msgA = {...msgA, [currentChannel]: [...msgA[currentChannel] , msg]};
      renderMsg();
      console.log('msg' ,msgA);
      if(msgA[currentChannel].length > 99)
      {
          msgA[currentChannel].shift()
      }
    }
  })
  $(document).ready(function(){
    $("#create").click(function(){
      $("#channelcreate").toggle();
    })
  })
  var msgA = [];
  var currentChannel = 'default';
  let a = 0;
  var channelName = [];

  function channels(){
    let name = document.getElementById('channelname').value;
    if(!name){
      name = currentChannel;
    }
    currentChannel = name;
    if(!name){
      return false;
    }
    if(!channelName.includes(name)){
      const channeL = document.createElement('button');
      a++
      channeL.className = "ree" + a +" divchannel";
      channeL.innerText = name;
      document.getElementById('channelname').value='';
      channeL.addEventListener( 'click', function(){
          renderChannel2(name)
      } );
      channelName.push(name);
      msgA = {...msgA, [currentChannel]: []};
      renderMsg();
      return channeL;
    }
    return false;
  };

  function renderChannels(){
    const holder = document.getElementById('channelholder');
    let chanel = channels();
    if(chanel) {
    holder.appendChild(chanel);
    }
  }
  document.getElementById('chancreate').onClick = function() {renderChannels()
  };
//   $( document ).ready(function() {
//     console.warn('Messages: ', msgA);
//     renderChannels();
// });
  function renderChannel2(channelN){
    currentChannel = channelN;
    renderMsg();
  }

  function renderMsg() {
      $('div.message_holder').empty();
      let time = new Date().toLocaleTimeString();
      msgA[currentChannel].forEach(message => {
        $('div.message_holder').prepend('<div><span style="color: rgba(0,0,0,0.5); font-size: 11px">'+time+'</span><b style="color: black">'+"   "+message.user_name+"   "+'</b> '+message.message+'</div>')
      });
  }


  socket.on('load', function(strdData) {
    console.warn("Retrieved data: ", strdData);
    // msgA = {...msgA, [currentChannel]: [...msgA[currentChannel] , strdData]};
    // channelName = strdData.stored_data.c
      msgA = strdData.stored_data.messages;
      channelName = strdData.stored_data.channels;
      renderMsg();
      renderChannels()
  })

  </script>
</html>
