<!DOCTYPE html>
<html lang="eng" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sucks</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div id="parent">
      <div class="message_holder">

      </div>
      <div class="mid">
        <form action="" method="post">
          <input type="text" class="username" name="username" placeholder="username"/>
          <input type="text" name="message" class="message" placeholder="message"/>
          <input type="submit" name="Submit" value="Submit" id="submit"/>
        </form>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js" integrity="" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var socket = io();

    socket.on('connect', function() {
        socket.emit('my event', {
          data: 'User connected'
    })
    var form = $('form').on('submit', function(e){
      e.preventDefault()
      let user_name = $('input.username').val()
      let user_input = $('input.message').val()
      socket.emit('my event',{
        user_name : user_name,
        message : user_input
      })
      $('input.message').val('').focus()
    })
  })
  socket.on('my response', function(msg){
    console.log(msg)
    if(typeof msg.user_name !== 'undefined'){
      $('div.message_holder').append('<div><b style="color: black">'+msg.user_name+"   "+'</b> '+msg.message+'</div>')
    }
  })
    ;
  </script>
</html>
