<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type"text/css" href="../static/style.css">
    <title>LOGIN</title>
  </head>
  <body>
    <div class="parent">
      <a href="/register"><button type="button" id="logtoreg" action="/register" name="regtolog"><span style="color:white">REGISTER</span></button></a>
      <div id="loginform">
        <div>
          <form class="" action="/login" method="POST">
            <input id="loginname" type="text" name="loginusername" placeholder="username">
            <input id="loginpass" type="password" name="loginpassword" placeholder="password">
            <button id="loginbutton" type="submit" name="loginbutton"><span class="loginbtntext">LOGIN</span></button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
