<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type"text/css" href="../static/style.css">
    <title>REGISTER</title>
  </head>
  <body>
    <div class="parent">
      <a href="/login"><button type="button" id="logtoreg" action="/login" name="regtolog"><span style="color:white">LOGIN</span></button></a>
      <div id="loginform">
        <div>
          <form class="" action="/register" method="POST">
            <input id="loginname" type="text" name="registerusername" placeholder="username" required>
            <input id="loginpass" type="password" name="registerpassword" placeholder="password" required>
            <button id="registerbutton" type="submit" name="registerbutton"><span class="loginbtntext">REGISTER</span></button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
