<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type"text/css" href="../static/style.css">
    <title>SEARCH</title>
  </head>
  <body>
    <div class="parent">
      <a href="/logout"><button type="button" id="logtoreg" action="/logout" name="regtolog"><span style="color:white">LOGOUT</span></button></a>
      <div id="registerform">
        <div>
          <form class="" action="/search" method="POST">
            <input id="searchtxt" type="text" name="searchtxt" placeholder="Book">
            <button id="searchbutton" type="submit" name="searchbutton"><span class="loginbtntext">SEARCH</span></button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
