body{
  background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
}

#parent{
  background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
}

.mid{
  width: 600px;
  height: 100px;
  margin-top: 50px;;
  margin-bottom: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 100px;
}


.message{
  background-color: rgba(255,255,255, 0.5);
  color: black;
  margin-left: 20px;
  text-align: center;
  resize: none;
  height: 40px;
  width: 150px;
  border: none;
  outline: none;
  line-height: 40px;
}


#submit{
  width: 60px;
  height: 30px;
  margin-left: 20px;
  background-color: #ffc0cb;
  color: white;
  outline: none;
  border: none;
}

#submit:hover{
  background-color: white;
  color: black;
  transition: 0.7s;
}


.username{
  width: 142px;
  height: 40px;
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  border: none;
  outline: none;
}

.message_holder{
  height: 345px;
  width: 90vw;
  overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

#channels{
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
}

#create{
  height: 30px;
  width: 60px;
  background-color: #ffc0cb;
  color: white;
  outline: none;
  border: none;
}

#create:hover{
  background-color: white;
  color: black;
  transition: 0.7s;
}

#channelname{
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  height: 30px;
  outline: none;
  margin-top: 20px;
}

#channelcreate{
  display: none;
}

#chancreate{
  height: 20px;
  width: 60px;
  background-color: #ffc0cb;
  color: white;
  outline: none;
  border: none;
  margin-left: 10px;
}

#chancreate:hover{
  background-color: white;
  color: black;
  transition: 0.7s;
}

.divchannel{
  width: 500px;
  height: 500px;
  background-color: blue;
}
