body{
  background-color: black;
  display: flex;
  flex-direction: row;
}


.right{
  font-weight: bold;
}

.rightdiv{
  position: absolute;
  right: 50px;
  margin-top: 10px;
  font-weight: bold;
  width: auto;
  height: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center{
  text-align: center;
}

.left{
  height: 79vh;
  width: 200px;
  position: relative;
  margin-right: 130px;
  border-right-width: medium;
  overflow: scroll;
  border-style: solid;
}

#right2{
  width: 300px;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.settings{
  height: 20px;
  width: 95px;
  /* border-radius: 50px; */
  text-align: center;
  margin: 4px;
  background-color: black;
  border-color: black;
  outline: none;
  align-items: center;
  color: inherit;
  border-color: inherit;
}

.settings2{
  height: 20px;
  width: 95px;
  text-align: center;
  margin: 4px;
  background-color: black;
  outline: none;
  align-items: center;
  color: inherit;
  border-color: black;
}

#pizza{
  border-style: solid;
  border-width: 2px;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 300px;
  margin-top: 20px;
}

#subs{
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 170px;
}

#pasta{
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 150px;
}

#salad{
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 150px;
}

#dinner{
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 190px;
}

.orders{
  width: 300px;
  height: 400px;
  margin-left: 130px;
  border-style: solid;
  padding-left: 10px;
  overflow: scroll;
}

#mom{
  color: inherit;
  text-decoration: none;
}

#order{
  text-decoration: underline;
  color: inherit;
}

::placeholder{
  color: inherit;
}

.parrot{
  position: absolute;
  margin-top: 200px;
  height: 1000px;
  width: 1000px;
  left: 30%
}
