body{
  background-color: black
}

.margin{
  margin: 10px;
}

.right{
  position: absolute;
  right: 50px;
  margin-top: 10px;
  color: lime;
  font-weight: bold;
}

.center{
  text-align: center;
}
